python-dotenv~=1.1.0
langchain-openai~=0.3.32
pydantic~=2.11.7
langchain-core~=0.3.75
langchain~=1.0.0a3
jupyter~=1.1.1
jupyterlab_pygments~=0.3.0
pip~=25.2
panel~=1.7.0
attrs~=24.3.0
zlib~=1.2.13
distro~=1.9.0
wheel~=0.45.1
pysocks~=1.7.1
protobuf~=5.29.3
openssl~=3.0.17
pyopenssl~=25.0.0
cryptography~=44.0.1
docutils~=0.21.2
filelock~=3.17.0
gmpy2~=2.2.1
langgraph~=1.0.0a1
langchain-text-splitters~=0.3.11
langchain-community~=0.3.29
ipython~=8.30.0
requests~=2.32.5
openai~=1.102.0
langsmith~=0.4.19
fastapi~=0.116.1
pandas~=2.3.1
numpy~=2.2.5
matplotlib~=3.10.0