python-dotenv~=1.1.0
langchain-core~=1.0.3
langchain~=1.0.3
langchain-text-splitters~=1.0.0
langchain-community~=0.3.29
langchain-classic~=1.0.0
langchain-openai~=0.3.34
langsmith~=0.4.41
langgraph~=1.0.2
openai~=2.7.1
pydantic~=2.11.10
sqlite-vss~=0.1.2
wikipedia~=1.4.0
faiss-cpu~=1.12.0
sentence-transformers~=5.1.2