python-dotenv~=1.1.0
langchain-openai~=0.3.32
pydantic~=2.11.7
langchain-core~=0.3.75
langchain~=1.0.0a3
langgraph~=1.0.0a1
langchain-text-splitters~=0.3.11
langchain-community~=0.3.29
openai~=1.102.0
langsmith~=0.4.19
sqlite-vss
wikipedia
faiss-cpu
sentence-transformers